<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传方案</title>
    <link href="clock/clock.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Clock</h1>
<div class="box">
	<div class="number">
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">-</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">-</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">&nbsp;</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">:</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">:</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
	</div>
</div>
<button onclick="screenshot()">截图</button>
<div id="screenshotCanvasPreview"></div>
<div id="screenshotPreview"></div>
<button onclick="updateImage()">上传图片</button>
</body>
<script type="text/javascript" src="clock/clock.js"></script>
<script type="text/javascript" src="3rdparty/html2canvas.min.js"></script>
<script type="text/javascript" src="3rdparty/axios.min.js"></script>
<script type="text/javascript">
function screenshot() {
	html2canvas(document.querySelector(".box")).then(canvas => {
	    document.getElementById('screenshotCanvasPreview').appendChild(canvas)
	    var image = new Image();
	    image.id = 'screenshotImage';
	    image.src = canvas.toDataURL('image/jpeg', 0.8)
		document.getElementById('screenshotPreview').appendChild(image)
	});
}
function updateImage() {
	var imageBase64Str = document.getElementById('screenshotImage').src;
	sendImageToBackend(imageBase64Str).then(response => {
		console.log(response)
	})
}
function sendImageToBackend(imageBase64Str) {
 	return axios.post('/image/upload', {
 		base64: imageBase64Str,
 		imageType: 'image/jpeg'
	});
}
</script>
</html>