<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传方案</title>
    <link href="clock/clock.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Clock</h1>
<div class="box">
	<div class="number">
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">-</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">-</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">&nbsp;</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">:</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle-semicolon">:</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
		<span class="cycle">0 1 2 3 4 5 6 7 8 9</span>
	</div>
</div>
<button onclick="screenshot()">截图</button>
<div id="screenshotPreview"></div>
</body>
<script type="text/javascript" src="clock/clock.js"></script>
<script type="text/javascript" src="3rdparty/html2canvas.min.js"></script>
<script type="text/javascript" src="3rdparty/axios.min.js"></script>
<script type="text/javascript">
function screenshot() {
	html2canvas(document.querySelector(".box")).then(canvas => {
	    var imageBase64 = canvas.toDataURL('image/jpeg', 0.8)
		updateImage(imageBase64);
	});
}
function updateImage(imageBase64Str) {
	sendImageToBackend(imageBase64Str).then(response => {
		downloadImageFromBackend(response.data.imageName)
		console.log(response.data.message);
	}, error => {
		alert(error.response.data.message);
	})
	sendImageToQiniu(imageBase64Str).then(response => {
		downloadImageFromQiniu(response.data.imageName)
		console.log(response.data.message);
	}, error => {
		alert(error.response.data.message);
	})
}
function sendImageToBackend(imageBase64Str) {
 	return axios.post('/api/image', {
 		base64: imageBase64Str,
 		imageType: 'image/jpeg'
	});
}
function downloadImageFromBackend(imageName) {
	var image = new Image();
	image.src='/api/image/' + imageName;
	document.body.appendChild(image);
}
function sendImageToQiniu(imageBase64Str) {
	return axios.post("/qiniu/image", {
 		base64: imageBase64Str,
 		imageType: 'image/jpeg'
	})
}
function downloadImageFromQiniu(imageName) {
	axios.get('/qiniu/image/url/' + imageName).then(response => {
		var image = new Image();
		image.src = response.data.imageUrl;
		document.body.appendChild(image);
	})
}
</script>
</html>